<div class="row">
  <div class="medium-2 columns show-for-medium-up">
    <ul>
      <li>NEW</li>
      <li>Category</li>
      <li>T-SHIRTS</li>
      <li>BLOUSES</li>
      <li>SWEATERS</li>
      <li>OUTWEARs</li>
      <li>PANTS</li>
      <li>DRESSES</li>
      <li>SKIRTS</li>
      <li>SPORTS</li>




      new</ul>
  </div>
  <div class="small-12 medium-10 columns">
    <div  id="home-hero" class="owl-carousel">
      <div ><img src="../../../assets/home/13_HOME_PICTURES_MAN_A_1920.jpg"></div>
      <div ><img src="../../../assets/home/14_HOME_TRENDS_DENIM_A_1920.jpg"></div>
      <div ><img src="../../../assets/home/14_HOME_TRENDS_WHITE_A_1920.jpg"></div>
      <div ><img src="../../../assets/home/15_HOME_BROTHERS-SISTERS_A_1920.jpg"></div>
    </div>
  </div>
</div>